$transition: 0.3s ease;
$background: gray;
$mainFont: "Inter", sans-serif;
$mainfont1:"Dancing Script", cursive;
$admin-main-color: rgb(17, 24, 39);
$admin-secondary-color: rgb(31, 41, 55);
$green-dark: #00987F;
$orange-dark: #DA6A29;
$green-light:#85CCA7;
$orange-light: #F3B728;
$green-background: #D9EEEC;
$transition: 0.2s ease;
$text-color: rgb(52 58 64);
$page-gradient: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(217,238,224,1) 100%);
$gray-light: rgba(0, 0, 0, 0.1);
$reversed-gradient: linear-gradient(408deg, rgba(255, 255, 255, 1) 0%, rgba(217, 238, 224, 1) 100%);




