@import "../../../Variables/Variables.module.scss";

.homeWrapper {
    display: flex;
    width: 100vw;
    flex-direction: column;
    .homeSliderSection {
        display: flex;
        width: 100%;
        justify-content: center;
        .sliderCard {
            display: flex;
            width: 100%;
            height: 796px;
            align-items: center;
            position: relative;
            padding-left: 100px;
            .homeSliderBackground {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                object-position: center;
            }
            .cardTitle {
                width: 50%;
                z-index: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;
                transform: translate(-56px, -45px);
                padding: 20px;
                .arrivals {
                    font-size: 18px;
                    font-family: $mainFont;
                    color: rgb(0, 0, 0);
                }
                .latest {
                    font-size: 45px;
                    font-family: $mainFont;
                    letter-spacing: 5px;
                }
                .shipping {
                    font-size: 14px;
                    font-weight: 900;
                    font-family: $mainFont;
                }
                .shop {
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 3px;
                    position: relative;
                    cursor: pointer;
                    &:hover::before {
                        width: 100px;
                    }
                    &::before {
                        content: "";
                        width: 0;
                        height: 1px;
                        background-color: black;
                        position: absolute;
                        top: 20px;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
    .productsSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        gap: 30px;

        .productsHeading {
            max-width: 1400px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            .productscontent {
                display: flex;
                gap: 20px;
                .productscontentsee {
                    font-size: 17px;
                    letter-spacing: 4px;
                    transition: 0.5s;
                    &:hover {
                        color: red;
                    }
                }
                .productsHeadingtop {
                    display: flex;
                    gap: 20px;
                    .besTeller {
                        font-size: 22px;
                        font-weight: 600;
                        font-family: $mainFont;
                        position: relative;
                        cursor: pointer;
                    }
                    a {
                        font-size: 22px;
                        font-weight: 600;
                        font-family: $mainFont;
                        position: relative;
                        cursor: pointer;
                        &:hover::before {
                            width: 100%;
                        }
                        &::before {
                            content: "";
                            width: 0;
                            height: 2px;
                            background-color: black;
                            position: absolute;
                            top: 33px;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
        .productsContainer {
            width: 100%;
            display: flex;
            max-width: 1440px;
            margin: 0 auto;
            .productWrapper {
                display: flex;
                max-width: unset;
                width: 100%;
                padding: 0 15px;
            }
        }
    }
    .coat {
        width: 100%;
        background-image: url("https://demothemesky-be87.kxcdn.com/nooni-fashion/wp-content/uploads/2023/04/background-section-2-1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        .coatContent {
            padding: 25px;
            p {
                font-size: 18px;
                line-height: 1.2em;
                letter-spacing: 0.075em;
                text-align: center;
            }
            h2 {
                font-size: 60px;
                font-weight: 400;
                line-height: 1.2em;
                text-align: center;
            }
            a {
                width: min-content;
                white-space: nowrap;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                margin-top: 20px;
                font-size: 18px;
                font-weight: 600;
                position: relative;
                &:hover::before {
                    transform: scale(1);
                    width: 100%;
                }
                &::before {
                    content: "";
                    width: 0;
                    height: 2px;
                    background-color: black;
                    position: absolute;
                    top: 25px;
                    transform: scale(0);
                    transition: 0.5s;
                }
            }
        }
    }
    .saleShop {
        background-image: url("https://demothemesky-be87.kxcdn.com/nooni-fashion/wp-content/uploads/2023/04/background-section-3.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 450px;
        display: flex;
        position: relative;

        .saleShopbox {
            width: 50%;
            height: 100%;
            position: absolute;
            right: 0;
            background-color: rgba(0, 0, 0, 0.689);
            color: white;
            display: flex;
            justify-content: center;
            padding: 50px;
            .saleText {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 20px;
                margin-top: 40px;
                p {
                    font-size: 24px;
                    line-height: 1.2em;
                    letter-spacing: 0.5em;
                    font-weight: 700;
                }
                span {
                    font-size: 100px;
                    font-weight: 500;
                    line-height: 1em;
                }
                h3 {
                    line-height: 30px;
                    font-size: 23px;
                }
                a {
                    color: white;
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .homeWrapper {
        .coat {
            height: 500px;
        }
    }
}
@media screen and (max-width: 1300px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                height: 600px;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                height: 550px;
            }
        }
        .coat {
            .coatContent {
                p {
                    font-size: 15px;
                }
                h2 {
                    font-size: 45px;
                }
            }
        }
        .productsSection {
            padding: 25px 15px;
        }
        .saleShop {
            .saleShopbox {
                .saleText {
                    p {
                        font-size: 20px;
                    }
                    span {
                        font-size: 55px;
                    }
                    h3 {
                        line-height: 25px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1008px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                .cardTitle {
                    .arrivals {
                        font-size: 16px;
                    }
                    .latest {
                        font-size: 35px;
                    }
                }
            }
        }
        .coat {
            height: 300px;
        }
    }
}
@media screen and (max-width: 978px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                height: 450px;
                .cardTitle {
                    .arrivals {
                        font-size: 14px;
                    }
                    .latest {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                height: 425px;
            }
        }
        .coat {
            .coatContent {
                p {
                    font-size: 15px;
                }
                h2 {
                    font-size: 30px;
                }
            }
        }
        .saleShop {
            height: 350px;
            .saleShopbox {
                width: 100%;
                height: 100%;
            }
        }
    }
}
@media screen and (max-width: 726px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                height: 450px;
                .sliderCard {
                    height: 450px;
                    .cardTitle {
                        .arrivals {
                            font-size: 14px;
                        }
                        .latest {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .productsSection {
            .productsHeading {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .productscontent {
                    .productsHeadingtop {
                        a {
                            font-size: 18px;
                        }
                        .besTeller {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .coat {
            .coatContent {
                h2 {
                    font-size: 25px;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                height: 700px;
                align-items: start;
                .homeSliderBackground {
                    object-position: 100% 100%;
                }
                .cardTitle {
                    margin-top: 75px;
                    width: 100%;
                    align-items: center;
                    .latest {
                        text-align: center;
                    }
                    .shipping {
                        text-align: center;
                    }
                }
                &.titleBottom {
                    align-items: end;
                    .cardTitle {
                        margin-top: 100px;
                    }
                }
            }
        }
        .coat {
            height: 250px;
        }
    }
}

@media screen and (max-width: 508px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                .homeSliderBackground {
                    object-position: 85% 100%;
                }
                .cardTitle {
                    margin-top: 50px;
                }
                &.titleBottom {
                    .cardTitle {
                        margin-top: 150px;
                    }
                }
            }
        }
        .productsSection {
            .productsHeading {
                .productscontent {
                    .productsHeadingtop {
                        flex-direction: column;
                        a {
                            font-size: 18px;
                        }
                        .besTeller {
                            font-size: 16px;
                            text-align: center;
                            &::before {
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
        .coat {
            height: 220px;
            .coatContent {
                p {
                    font-size: 15px;
                }
                h2 {
                    font-size: 25px;
                }
            }
        }
        .saleShop {
            .saleShopbox {
                .saleText {
                    p {
                        font-size: 15px;
                    }
                    span {
                        font-size: 35px;
                    }
                    h3 {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
