@import "../../../Variables/Variables.module";

.rangeSlider {
  background: black;
}
.rangeWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 25px;
  .range-slider {
    .range-slider__range {
      background: #ffbf00!important;

    }
  }
  .priceWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    .monitorBlock {
      display: flex;
      align-items: center;
      gap: 5px;
      width: 100%;
      .monitor {
        display: flex;
        align-items: center;
      }
    }
    .filterButtons {
      display: flex;
      width: 100%;
      gap: 15px;
      justify-content: space-between;
      margin-top: 20px;

      .filterButton {
        background-color: black;
        color: white;
        cursor: pointer;
        height: 40px;
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border-radius: 5px;

      }

    }
  }
}
