@import "../../../Variables/Variables.module";

.customSelect {
  color: white!important;
}
.customMenuItem {
  color: white!important;
  svg {
    color: white!important;
  }
}
.inputsContainer::-webkit-scrollbar {
  width: 8px;
  background-color: gray;
}
.inputsContainer::-webkit-scrollbar-thumb {
  background-color: $green-dark;
  border-radius:  6px;
}
.menuWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.700);
  justify-content: end;
  z-index: 50;
  opacity: 0;
  pointer-events: none;
  transition: opacity $transition;

  &.menuVisible {
    opacity: 1;
    pointer-events: auto;
  }

  .menuContainer {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    height: 100%;
    width: 100%;
    background-color: $admin-secondary-color;
    padding: 25px;
    justify-content: space-between;
    box-shadow: 0 0 5px gray;

    .menuHeading {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(173, 174, 174, 0.3);
      padding-bottom: 25px;

      .headingTitle {
        display: flex;
        flex-direction: column;
        color: white;

        h1 {
          font-size: 25px;
          text-transform: uppercase;
        }

        p {
          font-size: 16px;
        }
      }

      .closeMenu {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ADAEAE;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: $orange-dark;
        transition: background-color $transition, box-shadow $transition;

        &:hover {
          background-color: red;
          box-shadow: 0 0 15px red;

          svg {
            color: white;
          }
        }

        svg {
          transition: color $transition;
          font-size: 25px;
        }
      }
    }

    .inputsContainer {
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: 100%;
      overflow-y: scroll;
      max-height: 1100px;
      padding: 10px 0;
      .inputRow {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 92px;
        &.descriptionRow {
          align-items: start;
          textarea {
            width: 100%;
            max-width: 400px;
            background: transparent;
            outline: 0;
            border: 1px solid #323641;
            resize: none;
            padding: 10px;
            color: white;
            font-size: 18px;
            font-family: $mainFont;
            height: 100px;

          }

        }
        &.viewImageRow {
          justify-content: start;
          gap: 0;

          .imageBox {
            width: 50px;
            height: 50px;
            border: 1px dashed white;
            margin-left: auto;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          .imageInputWrapper {
            max-width: 312px;
            margin-left: 15px;
          }

        }

        p {
          color: white;
          font-size: 15px;
          text-transform: uppercase;
          max-width: 130px;
          width: 100%;
          b {
            color: red;
            font-size: 20px;
          }
        }

        input {
          max-width: 400px;
          width: 100%;
          height: 50px;
          border: 1px solid #323641;
          background-color: transparent;
          border-radius: 2px;
          outline: 0;
          color: white;
          padding: 0 10px;
          font-size: 18px;

          &.imageInput {
            opacity: 0;
            cursor: pointer;
            z-index: 3;
          }
        }

        .imageInputWrapper {
          display: flex;
          max-width: 400px;
          width: 100%;
          height: 50px;
          border: 1px dashed #323641;
          position: relative;
          cursor: pointer;

          &::after {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: gray;
            content: "Upload Image";
            font-size: 14px;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }


        }
      }
    }

    .menuFooter {
      display: flex;
      width: 100%;
      gap: 25px;
      padding-top: 35px;
      border-top: 1px solid rgba(173, 174, 174, 0.3);

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 50%;
        width: 100%;
        color: white;
        white-space: nowrap;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 8px;
        font-size: 18px;
        padding: 12px 75px;
        cursor: pointer;

        &.add {
          transition: background-color $transition;
          background-color: $green-dark;

          &:hover {
            background-color: $orange-dark;
          }
        }

        &.cancel {
          transition: border-color $transition, background-color $transition;
          border-color: white;
          background-color: #323641;

          &:hover {
            border-color: transparent;
            background-color: $orange-dark;
          }
        }
      }
    }

  }
}
@media screen and (max-width: 1000px) {
  .menuWrapper {
    .menuContainer {
      max-width: unset;
      .inputsContainer {
        .inputRow {
          &.viewImageRow {
            justify-content: space-between;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 650px) {
  .menuWrapper {
    .menuContainer {
      gap: 10px;

      .menuHeading {
        padding-bottom: 15px;
      }

      .inputsContainer {
        gap: 10px;

        .inputRow {
          input {
            height: 40px;
          }

          p {
            font-size: 15px;
          }
        }
      }

      .menuFooter {
        padding-top: 15px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .menuWrapper {
    .menuContainer {
      .inputsContainer {
        .inputRow {
          gap: 50px;
          .muiBox {
            min-width: 180px!important;
          }
          &.descriptionRow {
            textarea {
              font-size: 14px;
            }
          }


          p {
            font-size: 13px;
            white-space: nowrap;
            min-width: 100px;
          }
          &.viewImageRow {
            flex-direction: column;
            align-items: start;
            gap: 15px;
            .imageInputWrapper {
              margin-left: 0;
              width: 100%;
              max-width: unset;
            }
            .imageBox {
              margin: 0;
            }
          }
        }
      }
      .menuFooter {
        .button {
          padding: 0;
          width: 50%;
          height: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .menuWrapper {
    .menuContainer {
      .inputsContainer {
        gap: 10px;

        .inputRow {
          gap: 50px;
          .muiBox {
            min-width: 120px!important;
          }

          input {
            height: 40px;
            font-size: 12px;
          }
        }
      }

      .menuFooter {
        .button {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .menuWrapper {
    .menuContainer {
      .inputsContainer {
        .inputRow {
          gap: 10px;
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

