@import "../../../Variables/Variables.module.scss";

.loginWrapper{
    width: 100%;
    .loginContainer{
        width: 100%;
        padding: 40px;
        .loginContact{
            max-width: 1410px;
            width: 100%;
            margin: 0 auto;
            margin-top: 40px;
            display: flex;
            gap: 40px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.364);
            padding-bottom: 45px;
            .loginLeft{
                width: 676px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                h2{
                    font-size: 30px;
                    font-family: $mainFont;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .loginUsername{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        p{
                            font-size: 15px;
                            font-family: $mainFont;
                            transition: 0.3s;
                            cursor: pointer;
                            &:hover{
                                color: red;
                            }
                        }
                        input{
                            width: 100%;
                            padding: 15px;
                            border: none;
                            outline: none;
                            border: 1px solid rgba(128, 128, 128, 0.575);
                        }
                    }
                    .loginPassword{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        P{
                            font-size: 15px;
                            font-family: $mainFont;
                            transition: 0.3s;
                            cursor: pointer;
                            &:hover{
                                color: red;
                            }
                        }
                        input{
                            width: 100%;
                            padding: 15px;
                            border: none;
                            outline: none;
                            border: 1px solid rgba(128, 128, 128, 0.575);
                        }
                    }
                    .loginButton{
                        width: 200px;
                        background-color: black;
                        padding: 14px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 17px;
                        font-weight: 700;
                        cursor: pointer;
                        border: none;
                        outline: none;
                        transition: 0.3s;
                        &:hover{
                            background-color: red;
                            color: white;
                        }
                    }
                }
            }
            
            .registerRight{
                width: 676px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                h2{
                    font-size: 30px;
                    font-family: $mainFont;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .registerUsername{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        input{
                            width: 100%;
                            padding: 15px;
                            border: none;
                            outline: none;
                            border: 1px solid rgba(128, 128, 128, 0.575);
                        }
                        p{
                            font-size: 15px;
                            font-family: $mainFont;
                            transition: 0.3s;
                            cursor: pointer;
                            &:hover{
                                color: red;
                            }
                        }
                    }
                    .registerEmail{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        p{
                            font-size: 15px;
                            font-family: $mainFont;
                            transition: 0.3s;
                            cursor: pointer;
                            &:hover{
                                color: red;
                            }
                        }
                        input{
                            width: 100%;
                            padding: 15px;
                            border: none;
                            outline: none;
                            border: 1px solid rgba(128, 128, 128, 0.575);
                        }
                    }
                    .registerpassword{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        p{
                            font-size: 15px;
                            font-family: $mainFont;
                            transition: 0.3s;
                            cursor: pointer;
                            &:hover{
                                color: red;
                            }
                        }
                        input{
                            width: 100%;
                            padding: 15px;
                            border: none;
                            outline: none;
                            border: 1px solid rgba(128, 128, 128, 0.575);
                        }
                    }
                    .registerButton{
                        width: 200px;
                        background-color: black;
                        padding: 14px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 17px;
                        font-weight: 700;
                        cursor: pointer;
                        border: none;
                        outline: none;
                        transition: 0.3s;
                        &:hover{
                            background-color: red;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}