@import "../../../Variables/Variables.module";

.customYesButton {
  background: $green-dark!important;
  color: white!important;
  &:hover {
    background: green!important;
  }
}
.customNoButton {
  background: red!important;
  color: white!important;
  &:hover {
    background: darkred!important;
  }
}

.adminPageWrapper {
  display: flex;
  width: 100vw;
  padding: 0 30px 100px 30px;
  justify-content: center;
  background-color: $admin-main-color;
  min-height: 100vh;
  position: relative;

  .adminPageContent {
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    padding: 100px 0;

    .pageHeading {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      h1 {
        text-transform: uppercase;
        color: white;
        font-size: 25px;
      }
    }
    .exit {
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #ADAEAE;
      color: $orange-dark;
      border-radius: 50%;
      transition: background-color $transition, box-shadow $transition;
      svg {
        font-size: 20px;
      }
      &:hover {
        background-color: red;
        box-shadow: 0 0 10px red;
        color: white;
      }
    }

    .productManagement {
      display: flex;
      width: 100%;
      background-color: $admin-secondary-color;
      border-radius: 10px 10px 0 0;
      margin-top: 25px;
      border: 1px solid #323641;
      justify-content: space-between;
      gap: 50px;
      padding: 30px;

      .searchInput {
        display: flex;
        max-width: 425px;
        width: 100%;
        height: 50px;
        border-radius: 8px;
        border: 1px solid white;
        overflow: hidden;

        input {
          width: 100%;
          background-color: #323641;
          color: white;
          outline: 0;
          padding: 0 10px;
          border: 0;
        }

      }

      .buttons {
        display: flex;
        align-items: center;
        gap: 25px;

        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 200px;
          height: 100%;
          width: 100%;
          color: white;
          white-space: nowrap;
          text-align: center;
          border: 1px solid transparent;
          border-radius: 8px;
          font-size: 18px;
          padding: 0 75px;
          cursor: pointer;

          &.addStaff {
            transition: background-color $transition;
            background-color: $green-dark;

            &:hover {
              background-color: $orange-dark;
            }
          }

          &.reset {
            transition: border-color $transition, background-color $transition;
            border-color: white;
            background-color: #323641;

            &:hover {
              border-color: transparent;
              background-color: $orange-dark;
            }
          }
        }
      }


    }
    .overFlow {
      .teamTable {
        display: flex;
        width: 100%;
        background-color: $admin-secondary-color;
        margin-top: 25px;
        border-radius: 10px 10px 0 0 ;
        border: 1px solid #323641;
        overflow-y: hidden;

        .table {
          width: 100%;
          display: flex;
          flex-direction: column;
          min-height: 200px;
          .noProducts{
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: #ADAEAE;
          }
          .tableRow {
            display: flex;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid #323641;

            &:last-child {
              border-color: transparent;
            }

            &.tableHeading {
              border-bottom: 1px solid #323641;
            }
            &.productsTable {
              .name {
                a {
                  cursor: pointer;
                  transition: color $transition;
                  color: #ADAEAE;
                  &:hover {
                    color: #d10202;
                  }
                }
              }
            }

            .tableCell {
              display: flex;
              padding: 8px 16px;
              color: #ADAEAE;
              font-size: 15px;
              width: 100%;
            }

            .id {
              max-width: 75px;
            }

            .image {
              max-width: 85px;

              img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-position: center;
                object-fit: cover;
              }
            }
            .name {
              max-width: 450px;
            }

            .price {
              max-width: 185px;
              span {
                display: inline-flex;
                align-items: center;
                gap: 10px;
                p {
                  text-decoration: line-through;
                }
              }
            }
            .quantity {
              max-width: 130px;
              justify-content: center;

            }
            .size {
              max-width: 100px;
              justify-content: center;
            }
            .category {
              max-width: 100px;
              justify-content: center;

            }
            .rating {
              justify-content: center;
              max-width: 80px;
            }

            .actions {
              max-width: 110px;
              justify-content: end;
              gap: 5px;

              .action {
                padding: 0 5px;
                cursor: pointer;

                &:hover:nth-child(1) {
                  svg {
                    color: $orange-dark;
                  }
                }

                &:hover:nth-child(2) {
                  svg {
                    color: red;
                  }
                }

                svg {
                  transition: color $transition;
                  font-size: 23px;
                }
              }

            }
          }
        }

      }
    }
    .paginationWrapper {
      display: flex;
      width: 100%;
      padding: 5px 0;
      background: #00987F;
      border-radius: 0 0 10px 10px;
    }

  }
}

@media screen and (max-width: 1200px) {
  .adminPageWrapper {
    .adminPageContent {
      .overFlow {
        &::-webkit-scrollbar {
          height: 10px;
        }
        &::-webkit-scrollbar-track {
          background: gray;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $green-dark;
          border-radius: 2px;
          box-shadow: 0 0 5px black;
        }
        .teamTable {
          max-width: 1140px;
          .table {
            .tableRow {
              .tableCell {
                padding: 8px;
                font-size: 14px;
              }
              .id {
                max-width: 55px;
              }
              .image {
                max-width: 70px;
              }
              .price {
                max-width: 165px;
              }
              .name {
                max-width: 280px;
              }
              .quantity {
                max-width: 98px;
              }
              .rating {
                max-width: 50px;
              }
              .actions {
                max-width: 95px;
                margin-left: auto;
              }
            }
          }
        }
        overflow-x: auto;
      }

      .overFlow {
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .adminPageWrapper {
    .adminPageContent {
      .overFlow {
        .teamTable {
          width: 964px;
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .adminPageWrapper {
    padding: 0 15px 100px 15px;
    .adminPageContent {
      .productManagement {
        padding: 30px 15px;
        gap: 25px;
        .buttons {
          .button {
            padding: 0 50px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .adminPageWrapper {
    .adminPageContent {
      .productManagement {
        flex-direction: column;
        .searchInput {
          max-width: unset;
        }
        .buttons {
          width: 100%;
          .button {
            height: 50px;
            width: 50%;
            max-width: unset;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .adminPageWrapper {
    .adminPageContent {
      .pageHeading {
        h1 {
          font-size: 20px;
        }
      }
      .productManagement {
        gap: 15px;
        .searchInput {
          max-width: unset;
        }
        .buttons {
          width: 100%;
          flex-direction: column;
          align-items: start;
          gap: 15px;
          .button {
            height: 50px;
            width: 100%;
          }
        }
      }
    }
  }
}